DISCORD_APP_ID=your_application_id
DISCORD_PUBLIC_KEY=your_ed25519_public_key
DISCORD_TOKEN=your_bot_token
EPHE_PATH=
# Ayanamsa offset added to Lahiri, in arcminutes. 6 = Lahiri + 6 arcminutes (sidereal positions reduce by 6').
AYANAMSA_OFFSET_ARCMIN=6
